@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}

.form-input {
  background-image: linear-gradient(to right, #4a5077b0, #7c8deca4);
}

.lineWithText {
  background-image: linear-gradient(
    to right,
    blue,
    rgb(206, 1, 1) 22%,
    transparent 22% 78%,
    rgb(224, 11, 11) 78%,
    rgb(48, 48, 245)
  );
}
