@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}

.blur-glass {
  background-color: rgba($color: #f4f8fa, $alpha: 0.2);
  backdrop-filter: blur(10px);
}
